
.portfolio-grid>div{
    background-color: darkgray;
    margin: 50px;
    text-align: center;
}

.portfolio-grid>div>img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}