

.pic{
height:350px;
float:left;
shape-outside: url('https://firebasestorage.googleapis.com/v0/b/react-portfolio-7e81b.appspot.com/o/alpinerockcropl.jpeg?alt=media&token=6054a86e-c08c-4c91-bda3-7bf1d21b41eb');
margin:10px

}
.wrapper{
    padding: 20px;
    background-color:#2506A4;
    color:black
}

.info{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:justify;
    font-size:25px;
    line-height:42px ;
}